<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/bfbfaaa461.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: #F1F1F1">
    <div style="background-color: lightgray;" class="">
        @RenderBody()

        <footer class="bg-blue text-center text-white mb-0 w-100" style="padding: .6em 0; position: fixed; bottom: 0">
            <p class="pb-0 mb-0">&copy; @DateTime.Now.Year - M&A</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
